@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src:
    local('Jost'),
    local('Jost'),
    url('./assets/Jost.ttf') format('truetype'),
    url('./assets/Jost.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Jost;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  background-color: #fee3c5;

  height: 100dvh;
  width: 100vw;

  position: absolute;

  border-image: url('./assets/back2.jpg');
  border-image-width: 60px 60px;
  border-image-slice: 160;
}

* {
  box-sizing: border-box;
}