@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src:
    local('Jost'),
    local('Jost'),
    url('./assets/Jost.ttf') format('truetype'),
    url('./assets/Jost.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Jost;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  /* background-color: #ffdebc; */

  height: 100dvh;
  width: 100vw;

  position: absolute;

  border-image: url('./assets/back.webp');
  border-image-width: 60px 60px;
  border-image-slice: 170;
}

* {
  box-sizing: border-box;
}

.body_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/back_fill.webp');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

.main_body {
  width: 320px;
  margin: auto;
  padding: 80px 20px;
  background-color: #ffdebc;
  border-image: url('./assets/back_main.png');
  border-image-width: 80px 60px;
  border-image-slice: 500;
  background-clip: content-box;
}

::-webkit-scrollbar {
  @apply h-[0px] w-[1px];
}